*
{
    margin: 0px;
    padding: 0px;
}
body
{
        background-color: lightgray;
        
}
.headerdiv
{
    background-color: #306777;
    height: 165px;
    width: 100%;
    position: relative;
}
.headerdiv .imagediv
{
    position: absolute;
    background-color: black;
    width: 210px;
    height: 120px;
    margin-left: 10%;
    margin-right: 10%;
    top: 60px;
}
.headerdiv .imagediv h1
{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 22px;
}
.headerdiv .menudiv
{
    list-style: none;
    float: right;
    margin-right: 6%;
    margin-top: 10px;
}
.headerdiv .menudiv ul
{
    margin-top: 106px;
    margin-right: 186px;
    margin-right: 0%;
}
.headerdiv .menudiv ul li
{
    display: inline;
    padding: 5px;
    background-color: black;
    margin-right: 55px;
    border-radius: 7px;
    
   
}

.headerdiv .menudiv ul li a
{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 2px 2px;
}
.headerdiv .menudiv ul li:hover
{
    background-color: rgba(10, 12, 7, 0.33);
}
.middlediv
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    /* border: 1px solid red; */
    height: 700px;
    width: 80%;
}
h3
{
    margin-bottom: 25px;
}
.firsdiv h3
{
    margin-top: 25px;
}
.seconddiv h3
{
    margin-top: 25px;
}
.thireddiv h3
{
    margin-top: 25px;
}
.fourthdiv h3
{
    margin-top: 25px;
    
}

/* Start footerdiv */
.footerdiv
{
    background-color: #549DB3;
    height: 100px;
    width: 100%;
    margin-top: 25px;
    position: relative;
}
.footerdiv .footertext
{
    color: white;
    text-align: center;
    
}
.footerdiv .footertext p
{
    margin-top: 30px;
    padding: 38px;
}
.footerimagediv
{
    /* position: absolute; */
    /* border: 1px solid red; */
    float: right;
    margin-right: 10%;
    margin-top: -70px;
    height: 25px;
    width: 150px;
    padding: 10px;
    background-color: rgba(124, 152, 160, 0.72);
    
    
}
.footerimagediv img
{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 8px;
}
.footerimagediv:hover
{
    cursor: pointer;
}
.footerimagediv:hover
{
    cursor: pointer;
}
.footerimagediv #im1
{
    opacity: 1;
}
.footerimagediv #im2
{
    opacity: 1;
}
.footerimagediv #im3
{
    opacity: 1;
}
.footerimagediv #im4
{
    opacity: 1;
}
.footerimagediv #im1:hover
{
    opacity: 0.4;
}
.footerimagediv #im2:hover
{
    opacity: 0.4;
}
.footerimagediv #im3:hover
{
    opacity: 0.4;
}
.footerimagediv #im4:hover
{
    opacity: 0.4;
}
/* End Footerdiv */