*
{
    margin: 0px;
    padding: 0px;
}
body
{
        background-color: lightgray;
        
}
.headerdiv
{
    background-color: #306777;
    height: 165px;
    width: 100%;
    position: relative;
    clear: both;
}
.headerdiv .imagediv
{
    position: absolute;
    background-color: black;
    width: 210px;
    height: 120px;
    margin-left: 10%;
    margin-right: 10%;
    top: 60px;
}
.headerdiv .imagediv h1
{
    color: white;
    font-family: sans-serif;
    font-size: 50px;
    text-align: center;
    padding: 10px 15px;
    margin-top: 22px;
}
.headerdiv .menudiv
{
    list-style: none;
    float: right;
    margin-right: 6%;
    margin-top: 10px;
}
.headerdiv .menudiv ul
{
    margin-top: 106px;
    margin-right: 186px;
    margin-right: 0%;
}
.headerdiv .menudiv ul li
{
    display: inline;
    padding: 5px;
    background-color: black;
    margin-right: 55px;
    border-radius: 7px;
    
   
}

.headerdiv .menudiv ul li a
{
    color: white;
    font-family: sans-serif;
    text-decoration: none;
    font-size: 15px;
    padding: 2px 2px;
}
.headerdiv .menudiv ul li:hover
{
    background-color: rgba(10, 12, 7, 0.33);
}
/* End Headerdiv */
/* ======+++++++========+++++++=========== */
.backgrounddiv
{
    height: 400px;
    width: 80%;
    border: 3px solid #306777;
    background-color: white;
    margin-top: 55px;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 5px;
    position: relative;
    clear: both;
}
.backgrounddiv img
{
    position: absolute;
    height: 400px;
    width: 459px;
}
.backgrounddiv h1
{
    position: absolute;
    font-family: cursive;
    font-size: 45px;
    font-weight: bolder;
    top: 100px;
    left: 485px;
    color: #306777;

}
.backgrounddiv #heading
{
    position: absolute;
    top: 160px;
    color: #306777;
}
.fourdiv
{

    height: 500px;
    width: 80%;
    border: 2px solid lightgray;
    background-color: lightgray;
    margin-left: 10%;
    border-radius: 4px;
}
.fourdiv .firstdiv
{
    height: 70%;
    width: 23%;
    /* border: 1px solid red; */
    float: left;
    margin-left: 1px;
    margin-top: 40px;
    padding: 9px;
}
.fourdiv .firstdiv .image1 img
{
    height: 202px;
    border: 4px solid #306777;
    border-radius: 5px;
}
.fourdiv .firstdiv .image2 img
{
    width: 257px;
    margin-top: -6px;
}
.firstdiv .textdiv
{
    text-align: justify;
}
.bottomdiv
{
    /* border: 2px solid #306777; */
    height:  546px;
    width: 80%;
    margin-left: 10%;
    margin-top: -40px;
}
.bottomdiv .freaturediv
{
    width: 49%;
    height: 539px;
    border: 4px solid #549DB3;
    border-radius: 6px;
    background-color: white;
    float: left;
}
.bottomdiv .freaturediv h1
{
    background-color: black;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
    padding: 10px 10px;
    text-align: center;
    position: absolute;
    left: 168px;
    top: 1078px;
}
.bottomdiv .freaturediv img
{
    margin-top: 70px;
    margin-left: 31px;
    float: left;
}
.bottomdiv .freaturediv h2
{
    margin-top: 66px;
    margin-left: 180px;
}
.bottomdiv .freaturediv .paragraph
{
    /* border: 1px solid green; */
    margin-top:  65px;
    padding: 30px;
}
.bottomdiv .freaturediv .paragraph p
{
    text-align: justify;
}
.hairstylediv
{
    border: 3px solid #549DB3;
    background-color: #2A5E6C;
    height: 213px;
    width: 509px;
    float: left;
    margin-left: 26px;
    border-radius: 5px;
    height: 263px;
}
.hairstylediv h1
{
    background-color: black;
    border: none;
    color: white;
    width: 200px;
    height: 40px;
    padding: 10px 10px;
    text-align: center;
    margin-top: -15px;
    margin-left: 29px;
}
.hairstylediv p
{
    text-align: justify;
    margin-top: 17px;
    padding: 0px 27px;
    line-height: 23px;
    color: white;
}
.hairstylediv h3
{
    float: right;
    padding-right: 27px;
    color: white;
}
.hairstylebottomdiv
{
    border: 3px solid #549DB3;
    float: right;
    margin-left: 27px;
    margin-top: -252px;
    width: 508px;
    position: relative;
    clear: both;
    background-color: #2A5E6C;
    height: 210px;
    border-radius: 5px;
}
.hairstylebottomdiv img
{
    float: left;
    top: -10px;
    height: 227px;
    position: absolute;
}
.hairstylebottomdiv ul
{
    float: left;
    margin-top: 35px;
    margin-left: 250px;
    line-height: 25px;
}
.hairstylebottomdiv ul li
{
    list-style: none;
    color: white;
    font-family: sans-serif;
    word-spacing: 5px;
}


/* End HeaderMenu div */
/* ========================================== */
/* Start css Headingdiv */
.Headingdiv
{
    margin-left: 10%;
    margin-top: 25px;
}
/* End css Headingdiv */
/* ========================================== */


.Middlediv
{
    /* border: 1px solid red; */
    height: 1000px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    position: relative;
}
.imagediv1
{
    height: 170px;
    float: left;
    margin: 0px;
}
.firstdivgallery .imagediv1 #img121
{
    position: absolute;
    left: 5px;
    top: 5.4px;
}
.firstdivgallery #img1111
{
    position: relative;
}
.firstdivgallery .imagediv1 #img12
{
    position: absolute;
    left: 6px;
    top: 6.4px;
}

.Middlediv .imagediv2
{
    float: left;
    /* margin-left:65px;
    margin-right: 65px; */
    margin-left: 6%;
    margin-right: 6%;
    border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.Middlediv .firstdivgallery .imagediv2
{
    position: relative;
}

.Middlediv .firstdivgallery #img12
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.Middlediv .imagediv3
{
    float: left;
    margin-left:0px;
    margin-right: 65px;
    border-radius: 5px;
}
.Middlediv .firstdivgallery .imagediv3
{
    position: relative;
}
.Middlediv .firstdivgallery .imagediv3
{
    position: relative;
}
.Middlediv .firstdivgallery .imagediv3 #img13
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.Middlediv .imagediv4
{
    float: right;
    border-radius: 5px;
    line-height: 20px;
}
.Middlediv .firstdivgallery .imagediv4
{
    position: relative;
}
.Middlediv .firstdivgallery .imagediv4 #img14
{
    position: absolute;
    top: 5px;
    left: 5px;
}

.Middlediv .firstdiv
{
    line-height: 20px;
}
.seconddivgallery
{
    padding-top:20px;
    height: 200px;         
}
.seconddivgallery .imagediv1 
{
    position: relative;
}
.seconddivgallery .imagediv1 #img15
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.seconddivgallery .imagediv2
{
    position: relative;
} 
.seconddivgallery .imagediv2 #img16
{
    position: absolute;
    top: 5px;
    left: 5px;
}

.seconddivgallery .imagediv3
{
    position: relative;
} 
.seconddivgallery .imagediv3 #img17
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.seconddivgallery .imagediv4
{
    position: relative;
} 
.seconddivgallery .imagediv4 #img18
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.seconddivgallery .imagediv1
{
    position: relative;
} 
.seconddivgallery .imagediv1 #img19
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.seconddivgallery .imagediv2
{
    position: relative;
} 
.seconddivgallery .imagediv2 #img20
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.seconddivgallery .imagediv3
{
    position: relative;
} 
.seconddivgallery .imagediv3 #img21
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.seconddivgallery .imagediv4
{
    position: relative;
} 
.seconddivgallery .imagediv4 #img22
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.fourthdivgallery .imagediv1
{
    position: relative;
} 
.fourthdivgallery .imagediv1 #img23
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.fourthdivgallery .imagediv2
{
    position: relative;
} 
.fourthdivgallery .imagediv2 #img24
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.fourthdivgallery .imagediv3
{
    position: relative;
} 
.fourthdivgallery .imagediv3 #img25
{
    position: absolute;
    top: 5px;
    left: 5px;
}
.fourthdivgallery .imagediv4
{
    position: relative;
} 
.fourthdivgallery .imagediv4 #img26
{
    position: absolute;
    top: 5px;
    left: 5px;
}

.lastdiv
{
    border: 1px solid lightgray;
    margin-top: 170px;
}

.fourthdivgallery
{
    padding-top:20px;
    height: 200px;         
}
.Middlediv .lastdiv
{
    height: 100px;
}
.Middlediv .lastdiv p
{
    color: black;
    text-align: center;
    text-decoration: underline;
    margin-top: 20px;
}
.firstdivgallery .imggallery img
{
    position: absolute;
    left: 143px;
    bottom: -139px;   
}
.firstdivgallery .imggallery1 img
{
    position: absolute;
    left: 428px;
    bottom: -146px;
}
.firstdivgallery .imggallery3 img
{
    position: absolute;
    left: 714px;
    bottom: -143px;
}
/* Start footerdiv */
.footerdiv
{
    background-color: #549DB3;
    height: 100px;
    width: 100%;
    margin-top: 25px;
    position: relative;
    clear: both;
}
.footerdiv .footertext
{
    color: white;
    text-align: center;
    
}
.footerdiv .footertext p
{
    margin-top: 30px;
    padding: 38px;
}
.footerimagediv
{
    
    float: right;
    margin-right: 10%;
    margin-top: -70px;
    height: 25px;
    width: 150px;
    padding: 10px;
    background-color: rgba(124, 152, 160, 0.72);
    
    
}
.footerimagediv img
{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-left: 8px;
}
.footerimagediv:hover
{
    cursor: pointer;
}
.footerimagediv #im1
{
    opacity: 1;
}
.footerimagediv #im2
{
    opacity: 1;
}
.footerimagediv #im3
{
    opacity: 1;
}
.footerimagediv #im4
{
    opacity: 1;
}
.footerimagediv #im1:hover
{
    opacity: 0.4;
}
.footerimagediv #im2:hover
{
    opacity: 0.4;
}
.footerimagediv #im3:hover
{
    opacity: 0.4;
}
.footerimagediv #im4:hover
{
    opacity: 0.4;
}
/* End Footerdiv */